params.cycas_location = "${projectDir}/Cycas/cycas/cycas.py"
params.cygnus_location = "${projectDir}/Cygnus/cygnus/cygnus.py"
params.rotator_location = "${projectDir}/Rotators/rotators"
params.cyclotron_location = "${projectDir}/Cyclotron/cyclotron/cyclotron.py"

params.dev_mode = false
params.rotate_sequence_location = "${projectDir}/Rotators/rotators/rotate_by_sequence.py"
params.economy_mode = false

cleanup = true

default_container = 'cyclomics/cyclomicsseq_consensus:0.1.0'
docker {
    enabled = true
}
process{
    container = default_container
}
