params.cycas_location = "/app/cycas/cycas.py"
params.cygnus_location = "/app/cygnus/cygnus.py"
params.rotator_location = "/app/rotators/"
params.cyclotron_location = "${projectDir}/Cyclotron/cyclotron/cyclotron.py"

params.dev_mode = false
params.economy_mode = false

cleanup = true

default_container = 'cyclomics/cyclomicsseq_consensus:0.1.0'
docker {
    enabled = true
}
process{
    container = default_container
}

params{
    split_on_adapter = false

    filtering{
        minimun_raw_length  = 1000
    }
    
    minimap2parameterized{
        min_chain_score =  1
        min_chain_count = 10
        min_peak_aln_score = 20
  }
}