params.cycas_location = "${projectDir}/Cycas/cycas/cycas.py"
params.cygnus_location = "${projectDir}/Cygnus/cygnus/cygnus.py"
params.rotator_location = "${projectDir}/Rotators"
params.cyclotron_location = "${projectDir}/Cyclotron/cyclotron/cyclotron.py"

params.dev_mode = true
params.user_conda_location = "${projectDir}/environment.yml"
params.rotate_sequence_location = "${projectDir}/Rotators/rotate_by_sequence.py"

conda.enabled = true
process.conda = params.user_conda_location
